<div><h2> Edit User</h2></div>

<div class="submitForm">
  <form (ngSubmit)="onSubmit(tempForm)" #tempForm="ngForm">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Enter Name"  name="name" required [(ngModel)]="employeeArr.name">
    </div>
    <div class="form-group">
      <label>Website</label>
      <input type="url" class="form-control"  placeholder="Enter Website"  name="website" required [(ngModel)]="employeeArr.website">
    </div>
  
  
      <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control"  placeholder="Enter User Name"  name="username" required [(ngModel)]="employeeArr.username">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!tempForm">Submit</button>
    </form> 
</div>
